---
layout: archive
---

{{ content }}


<h1>Welcome!</h1>
  <p class="p1" style="text-align: justify;">Hi there, my name is Kris. I'm a Chindian from Malaysia (the best of both worlds).<br><br>
  
  Currently pursuing my doctoral studies in economics at Keio University.

  My hobbies include listening to podcasts and photography.</p> 

<style>
  .light-hr {
    border: 0;
    height: 2px;
    background-color: #CCCCCC; /* Light gray color */
    margin-top: 20px;
  }
</style>

  <p class="p2"><h2>Research Interests</h2>
  <hr class="light-hr">
  My research interests are in environmental and resource economics. Here's my <a href="https://scholar.google.com/citations?user=TSe394wAAAAJ&hl=en&oi=ao" target="_blank"> Google Scholar link</a> for reference.
    <br><br>
  
  

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->
